Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintmedium
xterm*background:       seashell
xterm*cursorColor:      black
xterm*foreground:       black
xterm*faceName:         Ubuntu Mono derivative Powerline
xterm*faceSize:         10
xterm*locale:           true
xterm*renderFont:       true
xterm*saveLines:        99999
xterm*scrollTtyOutput:  false
xterm*termName:         xterm-256color
! shift-select -> copy to clipboard
! ctrl-v -> paste from clipboard
!
*VT100.Translations: #override \
    Shift <Btn1Up>: select-end(CLIPBOARD) \n\
    Shift Ctrl <Key>V: insert-selection(CLIPBOARD)

! black
*color0: #000000
! bright_black
*color8: #505050
! red
*color1: #8e3f33
! bright_red
*color9: #c66e61
! green
*color2: #418e33
! bright_green
*color10: #70c661
! yellow
*color3: #8e8133
! bright_yellow
*color11: #c6b761
! blue
*color4: #33418e
! bright_blue
*color12: #6170c6
! magenta
*color5: #8e3382
! bright_magenta
*color13: #c661b9
! cyan
*color6: #33828e
! bright_cyan
*color14: #61b9c6
! white
*color7: #d0d0dd
! bright_white
*color15: #ffffff
